#heading {
    color: blue;
}

.header {
    display: flex;
    justify-self: space-between;

}
.logo {
    height:90px;
    width: 150px;
    border-radius: 50px;
    padding: 10px;
}

.nav-items {
    align-self: center;
    margin-left: auto;
}
.nav-items>ul {
    display: flex;
}
 
.nav-items>ul>li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

.restaurant-card {
    border: 1px solid black;
    width:250px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.restaurant-card:hover {
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;
}


  
.filter{
    display: flex;
    align-items: center;
}
.filter-btn{
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
   border: 1px solid black;
}
.search-box{
 margin: 10px;
 
    cursor: pointer;
}
.search-btn{
    border-radius: 8px;
    cursor: pointer;
      border: 1px solid black;
}


.shimmer-wrapper{
    display: flex;
}   
.shimmer-card{
    width: 250px;
    height: 300px;
    background-color:darkgray;
    margin: 10px;

}

.login{

    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-color: antiquewhite;
}